@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --fondo: #D6E1F0;
}

html, body {
    font-family: 'Epilogue', sans-serif;
}

button {
    border: none;
    background-color: white;
    font-family: 'Epilogue', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    height: 70px;

}

.nav-logo {
    display: grid;
    place-items: center;
}

.nav-logo img {
    margin-top: 10px;
}

.nav-links, .dropdowns, .dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
   
}

.nav-links {
    flex-grow: 1;
    margin-left: 40px;
}

.nav-links button {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: white;
    gap: 10px;
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    top: 55px;
    left: 150px;
    opacity: 0;
    transition: 0.3s all ease;

}

.dropdown:hover .dropdown-menu{
    opacity: 1;
}

.dropdown-menu button {
    text-align: left;
}

.dropdown-menu img {
    margin-right: 0.4em;
}



.dropdowns .dropdown:nth-of-type(2)  .dropdown-menu{
    left: 300px;
    transition: 0.3s all ease;
    opacity: 0;
}

.dropdowns .dropdown:nth-of-type(2):hover  .dropdown-menu{
    opacity: 1;
   
}



.nav-links-user {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex-grow: 1;
}

.nav-links-user button:nth-of-type(2){
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid black;
}

.hero {
    margin-top: 30px !important;
    display: flex;
    width: 80%;
    margin:0 auto;
    gap: 20px;
}

.hero-img {
    display: flex;
    justify-content: center;
    width: 50%;
    flex-grow: 0.2;
}

.hero-img img{
    width: 80%;
    height: auto;
   
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    width: 50%;
    min-width: 320px;

}

.hero-content h1 {
    font-size: 60px;
    
}

.hero-content p {
    color: var(--Medium-Gray);
}

.hero-content a {
    display: inline-block;
    padding: 8px 17px;
    border-radius: 8px;
    border: 2px solid black;
    width: 150px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 700;
    transition: 0.3s all ease;
}

.hero-content a:hover {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}

.clients {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.close {
    display: none;
}

.hero-img .hero-img-mobile {
    display: none;
}

@media (max-width:576px ){
    

    .burger {
        width: 70px;
        height: 70px;
        background-image: url('images/icon-menu.svg');
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
        background-position: center center;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .burger.open {
        background-image: url('images/icon-close-menu.svg');
    }
    .nav-links {
        position: fixed;
        top:0;
        right: 0;
        width: 200px;
        display: flex;
        flex-direction: column;
        background-color: var(--Almost-White);
        height: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 50px;
        border-left: 1px solid var(--Almost-Black);
        padding-left: 20px;
        transform: translate(100%, 0);
        transition: 0.3s all ease;
    }

    .nav-links.open {
        transform: translate(0,0);
    }

    .dropdowns, .nav-links-user {
        flex-direction: column;
        align-items: stretch;
    }

    .nav-links-user{
        flex-grow: 0;
        gap: 15px;
        margin:0 auto;
    }

    .nav-links-user button {
        display: block;
        width: 100%;
        
    }

    .dropdowns button {
        text-align: left;
    }

    .dropdown {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-menu, .dropdowns .dropdown:nth-of-type(2) .dropdown-menu{
        position: static;
        opacity: 1;
        box-shadow: none;
        border: none;
        padding: 0;
        margin-left: 20px;
        transition: all 0.3s ease;
        display: none;
    }

    .dropdown-menu.active, .dropdowns .dropdown:nth-of-type(2) .dropdown-menu.active {
        display: flex;
        opacity: 1;
        height: auto;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('images/icon-close-menu.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .hero-img-desktop {
        display: none;
    }

    .hero-img {
        width: 100%;
    }


    .hero-img .hero-img-mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .hero-content {
        align-items: center;
    }

    .hero-content h1{
        text-align: center;
        font-size: 40px;
        min-width: 250px;
    }

    .hero-content p {
        text-align: center;
    }

    .clients {
        justify-content: center;
        gap: 25px;
    }

}
